<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    html {
      font-size: 14px;
    }

    body {
      background: #dadada;
    }

    .payment {
      width: 100%;
    }

    .payment__order {
      display: block;
      margin: 0 auto 1rem auto;
      width: 80%;
      background-color: burlywood;
      padding: 2rem;
    }

    .payment__order__title {
      color: #121212;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .payment__order__greeting {
      color: #121212;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .payment__order__subtitle {
      color: #121212;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .payment__order__redirect {
      display: block;
      margin: 0 auto;
      border-radius: 32px;
      background-color: #121212;
      padding: 0.375rem 0.75rem;
      color: #fff !important;
      width: 230px;
      cursor: pointer;
      height: 36px;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
    }

    .payment__wrapper {
      width: 80%;
      display: block;
      margin: 0 auto 1rem auto;
    }

    .payment__wrapper-table {
      width: 100%;
    }

    .payment__wrapper-table .table-body__product-row {
      border-bottom: 1px solid #ccc;
    }

    .payment__wrapper-table .table-body__product-row--img {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 250px;
      -o-object-fit: contain;
      object-fit: contain;
    }

    .payment__wrapper-table .table-body__product-row--name {
      font-size: 1rem;
      color: #121212;
      font-weight: bold;
    }

    .payment__wrapper-table .table-body__product-row--price {
      font-size: 0.875rem;
      color: #121212;
    }

    .payment__tax {
      width: 80%;
      display: block;
      margin: 0 auto 1rem auto;
    }

    .payment__tax-sub {
      font-size: 0.875rem;
      color: #121212;
      text-align: center;
    }

    .payment__tax-sub .label {
      width: 70px;
    }

    .payment__tax-total {
      font-size: 0.875rem;
      color: #121212;
      font-weight: bold;
      text-align: center;
    }

    .payment__shipment {
      width: 80%;
      display: block;
      margin: 0 auto 1rem auto;
      background: #eeeeee;
    }

    .payment__shipment-table {
      width: 100%;
    }

    .payment__shipment-table .table-body__shipment {
      vertical-align: middle;
    }

    .payment__shipment-table .table-body__shipment-row {
      vertical-align: middle;
      margin: 0 auto;
      width: 50%;
      padding: 2rem;
    }

    .payment__shipment-table .table-body__shipment-row--name {
      font-size: 1rem;
      color: #121212;
      font-weight: bold;
    }

    .payment__shipment-table .table-body__shipment-row--price {
      font-size: 0.875rem;
      font-weight: 400;
      color: #121212;
    }

    /*# sourceMappingURL=styles.css.map */
  </style>
</head>

<body>
  <div class="payment">
    <div class="payment__order">
      <h1 class="payment__order__title">Your order is confirmed</h1>
      <p class="payment__order__greeting">Hi <b>{{names}}</b>, we've received order Nº <b>{{_id}}</b> and are working on
        it now.</p>
      <p class="payment__order__subtitle">We'll email you and update when we've shipped it.</p>
      <a href={{receipt_url}} target="_blank" class="payment__order__redirect">View your order details</a>
    </div>
    <div class="payment__wrapper">
      <table class="payment__wrapper-table">
        <tbody class="table-body">
          {{#each list_item}}
          <tr>
          <tr class="table-body__product">
            <td class="table-body__product-row">
              <img src="{{gallery}}" alt="" class="table-body__product-row--img">
            </td>
            <td class="table-body__product-row">
              <span class="table-body__product-row--name">{{name}}</span>
              <p class="table-body__product-row--price"><b>Price:</b> ${{price}}</p>
              <p class="table-body__product-row--price"><b>Quantity:</b> {{quantity}}</p>
            </td>
          </tr>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="payment__tax">
      <p class="payment__tax-sub"><span class="label"><b>Subtotal:</b></span> ${{subtotal}}</p>
      <p class="payment__tax-sub"><span class="label"><b>Shipping:</b></span> $0.00</p>
      <p class="payment__tax-sub"><span class="label"><b>Sales Tax:</b></span> $0.00</p>
      {{#if coupon}}
      <p class="payment__tax-sub"><span class="label"><b>Coupon Discount: </b>{{coupon}}%</p>
      {{/if}}
      <p class="payment__tax-total"><span class="label">Order Total:</span> ${{total}}</p>
    </div>
    <div class="payment__shipment">
      <table class="payment__shipment-table">
        <tbody class="table-body">
          <tr>
          <tr class="table-body__shipment">
            <td class="table-body__shipment-row">
              <span class="table-body__shipment-row--name">Order Details</span>
              <p class="table-body__shipment-row--price"><b>Your email:</b> {{email}}</p>
              <p class="table-body__shipment-row--price"><b>Shipment method:</b> {{shipping_method}}</p>
              <p class="table-body__shipment-row--price"><b>Shipment day:</b> {{order_date}}</p>
            </td>
            <td class="table-body__shipment-row">
              <span class="table-body__shipment-row--name">Shipping Address<span>
                  <p class="table-body__shipment-row--price">{{address}}</p>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>